body {
    background: #a85e32;
    display: grid;
    gap: 1em;
    grid: 'header' auto
          'nav' auto
          'main' 1fr
          'footer' auto
          / 1fr;
}

div {
    padding: 1em;
}

@media (min-width: 40em) {
    body {
        grid-template-areas:
            'header header'
            'nav main'
            'nav footer'
        ;
    }
}

header { grid-area: header; background: white; }
nav { grid-area: nav; background: white; }
main { grid-area: main; background: white; padding: 1em;}
footer { grid-area: footer; background: white; }
