body {
    background: var(--dark-purple);
    display: grid;
    grid-gap: 1em;
    grid_template-rows: auto auto 1fr auto;
    /* min-height: 100vh; */
}

@media (min-width: 40em) {
    body {
        grid-template-columns: 12em 1fr;
        grid-template-rows: auto 1fr auto;
        min-height: 100vh;  /* Make the body at least cover entire screen vertically */
}   }
    header {
        grid-column: span 2;  /* Make the header two columns wide */
    }

    nav {
        grid-row: span 2;  /* Make the nav span two rows (including the footer) */
    }
}

