body {
    background: #c88e82;
    display: grid;
    gap: 1em;
    grid: 'header' auto
          'nav' auto
          'main' 1fr
          'footer' auto
          / 1fr;
}

div {
    padding: 1em;
    background: white;
}

@media (min-width: 40em) {
    body {
        grid-template-areas:
            'header header'
            'nav main'
            'nav footer'
        ;
    }
}

header {
    grid-area: header;
}

nav {
    grid-area: nav;
    min-width: 10em;
}

main {
    grid-area: main;
}

footer {
    grid-area: footer;
}
