body {
    background: #b3b1d0;
    display: grid;
    gap: 1em;
    grid: 'header' auto
          'nav' auto
          'main' 1fr
          'ads' auto
          'recent' auto
          'popular' auto
          'footer' auto
          / 1fr;
}

div {
    padding: 1em;
    background: #fcf8ff;
}

@media (min-width: 70em) {
    body {
        grid-template-areas:
            'header header'
            'main nav'
            'main recent'
            'main ads'
            'main popular'
            'footer footer'
        ;
    }
}

header {
    grid-area: header;
}

nav {
    grid-area: nav;
    min-width: 20em;
}

recent {
    grid-area: recent;
}

ads {
    grid-area: ads;
}

bads {
    grid-area: bads
}

popular {
    grid-area: popular;
}

main {
    grid-area: main;
}

footer {
    grid-area: footer;
}
