body {
    background: #b3b1d0;
    display: grid;
    gap: 1em;
    grid: 'header' auto
          'nav' auto
          'main' 1fr
          'footer' auto
          / 1fr;
}

div {
    padding: 1em;
    background: #fcf8ff;
}

@media (min-width: 70em) {
    body {
        grid-template-areas:
            'header header'
            'main nav'
            'footer nav'
        ;
    }
}

header {
    grid-area: header;
}

nav {
    grid-area: nav;
    min-width: 20em;
}

main {
    grid-area: main;
}

footer {
    grid-area: footer;
}
