body {
    background: #b3b1d0;
    display: grid;
    gap: 1em;
    grid: 'header' auto
          'nav' auto
          'main' 1fr
          'ads' auto
          'recent' auto
          'popular' auto
          'footer' auto
          / 1fr;
    max-width: 80em;
    margin: 0 auto;
}

div {
    padding: 1em;
    background: #fcf8ff;
}

/***** Tables *****/

/* Table headings, table data */
th, td {
    padding: 5px;
    /* border-bottom: 1px solid #ddd; */
}

/* Table headings */
th {
    text-align: left;
    background-color: #b3b1d0;
}

tr:nth-child(even) {
    background-color: #e8e0f0
}

/***** Images *****/

img {
    max-width: 100%;
    height: auto;   /* Preserve aspect ratio */
    display: block; /* Removes tiny gap below inline images */
    margin: 0 auto; /* Optional: centers the image */
}

/**** Media *****/

@media (min-width: 70em) {
    body {
        grid-template-areas:
            'header header'
            'main nav'
            'main recent'
            'main ads'
            'main popular'
            'footer footer'
        ;
    }
}

header {
    grid-area: header;
    max-width: 90em;
}

nav {
    grid-area: nav;
    min-width: 20em;
}

recent {
    grid-area: recent;
}

ads {
    grid-area: ads;
}

bads {
    grid-area: bads
}

popular {
    grid-area: popular;
}

main {
    grid-area: main;
    max-width: 70em;
}

footer {
    grid-area: footer;
    max-width: 90em;
}
