<!doctype html>
<header>
  <title>{% block title %}{{title}}{% endblock %} - TTRPG-Hangout.com</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <a href="/"><img src="/images/TTRPG-banner-logo.webp"></a>
</header>

<!-- The sidebar -->
<nav>
  <div>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="https://ttrpg-hangout.social">Mastodon</a></li>
      <li><a href="/">YouTube</a></li>
      <li><a href="#about">About</a></li>
    </ul>
  </div>
</nav>

<body>
  <!-- The page -->
  <main>
    <div>
      <!-- The header -->
      {% block header %}{% endblock %}
      <!-- Flash messages -->
      {% for message in get_flashed_messages() %}
      <div class="flash">{{ message }}</div>
      {% endfor %}
        {% block content %}{% endblock %}
    </div>
  </main>

  <!-- Recent -->
  <recent>
    <div>
      (Recent articles here)
    </div>
  </recent>

  <!-- Ads -->
  <ads>
    <div>
      (Space reserved for future ads)
    </div>
  </ads>
  
  <!-- Popular -->
  <popular>
    <div>
      (Popular articles here)
    </div>
  </popular>
  
  <!-- The footer -->
  <footer>
    <div>
      Copyright © 2026 <a href="mailto:christer.enfors@gmail.com">Christer Enfors</a>
    </div>
  </footer>
</body>
    
