<!doctype html>
<head>
  <title>{% block title %}{{title}}{% endblock %} - TTRPG-Hangout.com</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script data-goatcounter="https://enfors.goatcounter.com/count"
        async src="//gc.zgo.at/count.js"></script>
</head>
  
<body>
  <header>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <a href="/"><img src="/images/TTRPG-banner-logo.webp" class="banner"></a>
  </header>
  <!-- The page -->
  <main>
    <div>
      <!-- The header -->
      {% block header %}{% endblock %}
      <!-- Flash messages -->
      {% for message in get_flashed_messages() %}
      <div class="flash">{{ message }}</div>
      {% endfor %}
        {% block content %}{% endblock %}
    </div>
  </main>

  <!-- The sidebar -->
  <aside class="sidebar">
    <nav>
      <div>
        <h3>Site navigation</h3>
        <ul>
          <li>
            <a href="/">Home</a>: Back to the start page.
          </li>
          <li>
            <a href="https://ttrpg-hangout.social">TTRPG-Hangout.social</a>:
            The Mastodon instance associated with this site.
          </li>
          <li><a href="/about_ttrpg_hangout.html">About</a> this site and its author.</li>
        </ul>
      </div>
    </nav>

    <!-- Recent -->
    <recent>
      <div>
        <h3>Recent articles</h3>
        <ul>
          <li><a href="2d6_hexmap_generation_system.html">2d6 Hexmap Generation System</a></li>
          <li><a href="quantity_oracle.html">Quantity Oracle</a></li>
          <li><a href="action_theme_oracle.html">Action/Theme Oracle</a></li>
          <li><a href="yes_no_oracle.html">Yes/No Oracle</a></li>
          <li><a href="2d6_weather_system.html">2d6 Weather System</a></li>
          <li><a href="location_generator.html">Location Generator</a></li>
          <li><a href="npc_generator.html">NPC Generator</a></li>
          <li><a href="context_aware_random_tables.html">Context-aware Random Tables</a></li>
          <li><a href="travel_and_exploration_in_rpgs.html">Travel and Explorationin RPGs</a></li>
          <li><a href="why_play_roleplaying_games_alone.html">Why Play Roleplaying Games Alone</a></li>
        </ul>
      </div>
    </recent>

    <!-- TTRPG-Hangout.social public timeline -->
    <socialtimeline>
      <div class="sidebar-widget">
        <h3>Latest posts from Mastodon TTRPG-Hangout.social</h3>
        <div id="mastodon-timeline" data-nosnippet>Loading...</div>
        <p style="text-aligh; right; font-size: 0.8rem;">
          <a href="https://ttrpg-hangout.social/public/local" target="_blank">View more&rarr;</a>
        </p>
        <p style="font-size:0.8rem; color:#666;">What's displayed above is the public timeline from our Mastodon server
          <a href="https://ttrpg-hangout.social">TTRPG-Hangout.social</a>. Users who have set themselves
          as non-indexable will not have their posts shown here.
        </p>
      </div>

      <script src="/static/social-timeline.js"></script>
    </socialtimeline>
    
    <!-- Ads -->
    <ads>
      <div>
        <h3>Donations appreciated</h3>
        <p>
          This site does not track you or invade your privacy in any way. At the moment I'm running it at a loss,
          but I'm hoping to be able to pay for the running costs through donations so I won't have to
          resort to ads in the future. If you would like to support me with a small donation, it would be greatly
          appreciated.
        </p>
        <center>
          <script type='text/javascript' src='https://storage.ko-fi.com/cdn/widget/Widget_2.js'></script>
          <script type='text/javascript'>kofiwidget2.init('Support me on Ko-fi', '#2d6b4c', 'D1D3MAPEA');kofiwidget2.draw();</script>
        </center>
      </div>
    </ads>

    <!-- Popular -->
    <popular>
      <div>
        <h3>Popular articles</h3>
        <ol>
          <li>
            <a href="/travel_and_exploration_in_rpgs.html">Travel and exploration in RPGs</a>
          </li>
          <li>
            <a href="/npc_generator.html">NPC Generator</a>
          </li>
          <li>
            <a href="2d6_weather_system.html">2d6 Weather System</a>
          </li>
        </ol>
      </div>
    </popular>
  </aside>
  
  <!-- The footer -->
  <footer>
    <div>
      Copyright © 2026 <a href="mailto:christer.enfors@gmail.com">Christer Enfors</a>.
    </div>
  </footer>
</body>
    
